<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    <!-- load the property file -->
    <context:property-placeholder location = "classpath:sport.properties"/>
    
    
     <bean id = "MyFortune" 
    class = "com.iocDemo.HappyFortuneService">
    </bean>
    
    
    <bean id = "myCoach" 
    class = "com.iocDemo.BaseBall">
    
    <constructor-arg ref = "MyFortune"/>
    </bean>
  
  <!-- setting up constructor injection -->
    
    <bean id = "myCricketCoach"
    class = "com.iocDemo.CricketCoach">
    
    <property name = "fortuneService" ref = "MyFortune"/>
    
    
    <!-- <property name = "emailAddress" value = "injectingliteralvalue@setter.com"/>
    
    <property name = "Team" value = "Team Spring Framework"/>  -->
   
    <property name = "emailAddress" value = "${foo.email}"/>
    <property name = "team" value = "${foo.team}"/>
    </bean>
   
       
    </beans>